@font-face {
  font-family: 'Corleone';
  src: local('Corleone'), url(./fonts/Corleone.TTF) format('truetype');
}

@font-face {
  font-family: 'CorleoneDue';
  src: local('CorleoneDue'), url(./fonts/CorleoneDue.TTF) format('truetype');
}


body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: gainsboro;
  margin: auto 0;
  background: darkslategrey;
  width: 100%;
  
}

.app {
  height: 100vh;

  .app-header {
    background: gainsboro;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 2px 5px 0px black;
    color: darkgoldenrod;
    cursor: default;
    font-family: Corleone, Arial, Helvetica, sans-serif;
    font-size: 45pt;
    position: fixed;
    width: 100%;
    z-index: 100;
    
  }

  .app-body {
    height: calc(100% - 75px);
    margin: 0 auto;
    max-width: 500px;
    padding-top: 75px;
  }
}

.section {
  background: dimgrey;
  border: solid 2px gainsboro;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px black;
  box-sizing: border-box;
  margin: 15px 15px;
  padding: 10px;
  position: relative;

  .field {
    margin: 5px
  }

  input {
    margin: 3px;
  }

}

.room {
  height: calc(100% - 30px);

  .users {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
}

.user {
  margin: 10px;
  min-width: 60px;
  min-height: 60px;
}

.chat {

  .conversation {
    padding: 0;
    display: inline-block;
    width: 75%;
  }

  .message { 
    list-style-type: none; 
    padding: 5px 10px;
    text-align: left;
    
    &:nth-child(odd) {
      background: darkgoldenrod; 
    }
  }

  .message-input {
    display: inline-block;
    width: 75%;
    height: 25px;

    input {
      width: 80%;
      float: left;
      box-sizing: border-box;
      height: 100%;
      margin: 0;
    }

    .button {
      height: 100%;
      width: 20%;
    }

  }
}

.primary-button {
  font-family: CorleoneDue, Arial, Helvetica, sans-serif;
  font-size: 20pt;
  letter-spacing: 2px;
  background: darkgoldenrod;
  color: gainsboro;
  border: solid 1px gainsboro;
  border-radius: 5pt;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer
}